.header_section {
  width: 870px;
  margin-left: 330px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.commit_btn {
  background-color: #053b50;
  color: white;
  border: none;
  padding: 20px 35px;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #176b87;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.repository-contents {
  position: absolute;
  top: 150px;
  left: 330px;
  padding: 20px;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 870px;
}

.repository-contents h1 {
  margin-bottom: 40px;
}

.repository-contents ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.repository-contents li {
  margin-bottom: 15px;
}

.repository-contents button {
  background-color: #176b87;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.repository-contents button:hover {
  background-color: #64ccc5;
}

.file-list {
  display: flex;
  align-items: center;
}
