.ownContent {
  display: flex;
  flex-direction: row-reverse;
}
.ownMessage {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: flex-end;
  background-color: #7cb9be;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px 0px 10px 10px;
  max-width: max-content;
}

.otherMessage {
  text-align: left;
  background-color: #ddedec;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}
